---
import Layout from '../../layouts/Layout.astro';
import Image from '../../imgs/antelope.jpeg';

const bgImg = `background-image: url(${Image}); background-size: cover;`

const posts = (await Astro.glob('./*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);

export async function getStaticPaths() {
  const pages = [
    {
      slug: undefined,
      title: "Astro Store",
      text: "Welcome to the Astro store!",
    },
    {
      slug: "blog/intro",
      title: "Astro products",
      text: "We have lots of products for you",
    },
    {
      slug: "blog/why-neovim",
      title: "The ultimative Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
    },
  ];
  return pages.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

---

<Layout title="blog-list">
	<section class="justify-center px-8 min-h-screen w-full flex snap-center text-gray-100" style={bgImg}>
		<ul class="flex flex-col space-y-4">
			{posts.map((post) => (
				<li class="border border-black rounded py-2 px-4">
					<a href={post.url}>{post.frontmatter.title} -</a>
					<time datetime={post.frontmatter.date}>
						{new Date(post.frontmatter.date).toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
						})}
					</time>
					<div>
						{post.frontmatter.description}
					</div>
				</li>
			))}
		</ul>
	</section>
</Layout>

